* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-bg {
    background-color: #495464;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2369727e' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23898f99' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23a8adb3' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23c8cace' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23E8E8E8' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.register-page {
  height: 100vh;
  padding-top: 4rem;
}

.register-card {
  width: 700px !important;
  height: 700px !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  padding: 20px !important;
  box-sizing: border-box !important;
}

@media only screen and (max-width: 768px) {
  .register-card {
    width: 100%;
    height: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.login-page {
  height: 100vh;
  padding-top: 4rem;
}

.login-card {
  width: 700px !important;
  height: 300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 20px !important;
  box-sizing: border-box !important;
}

@media only screen and (max-width: 768px) {
  .login-card {
    width: 100%;
    height: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.edit-product-card {
  width: auto !important;
  height: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 20px !important;
  box-sizing: border-box !important;
  flex: 1 !important;
  margin-right: 1rem !important;
}

.edit-form-container {
  width: 50% !important;
  padding-right: 2rem !important;
}

.product-preview-container {
  width: 50% !important;
}

.product-preview-box {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
  border: 1px solid !important;
  border-color: #ddd !important;
}

.product-preview {
  width: 100% !important;
  height: auto !important;
  max-width: 1080px !important;
  max-height: 608px !important;
  object-fit: cover !important;
  object-position: right !important;
  margin: 1rem !important;
}

@media only screen and (max-width: 768px) {
  .edit-product-card {
    width: 100%;
    height: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.main-card {
  height: 100vh;
  min-height: 100%;
  background: #F4F4F2 !important;
}

.secondary-card {
  min-height: 100%;
  background: #E4E5E5 !important;
}

.tertiary-card {
  min-height: 100%;
  background: #D5D7D8 !important;
}

.navbar-color {
  background-color: #1e2431;
}

.product-dash {
  height: 100vh;
}

.product-dash-table {
  background-color: #fff;
  border-radius: 10px;
}

.product-view {
  height: 100vh;
}

.profile-card {
  height: 100%;
}

.banner {
  height: 100vh;
}